<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <link rel="stylesheet" href="bootstrap-4.0.0/dist/css/bootstrap.css">
  <script src="bootstrap-4.0.0/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="stylesheets/styleThanks.css">
  </head>
  <body>
    <h2><b>Enjoy Our Booth PT.Petro One Indonesia</b></h2>
    <img id="logoPetro1" width="150px" height="150px" src="images/petro1.jpg"/>
    <br>
    <br>
    <h3><b>Indonesia Maritime Expo</b></h3>
    <h5><b>Jakarta International Expo Kemayoran - Jakarta</b></h5>
    <h5>16 - 18 Oktober</h5>
    <h3><b>Support By : </b></h3>
    <table align="center">
      <tr>
        <td><img width="200px" height="140px" src="images/kasificLogo.png"/></td>
        <td style="padding-right:50px;padding-left:20px" ><img width="250px" height="120px" src="images/powerInstrument.jpg"/></td>
        <td><img width="100px" height="180px" src="images/5mb.png"/></td>
      </tr>
    </table>
    <script>
    setTimeout(function () {
   // after 2 seconds
     window.location = "/welcome";
   }, 10000)
    </script>
  </body>
</html>
