body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    opacity: 0.87;
}

h2{
  padding: 10px;
}

.form-control{
  align-items: center;
  page-break-inside: auto;
}

.container-fluid{
  align: center;
  margin: auto;
}
